body {
    font-size:          120%;
    font-family:        "Droid Serif", serif;
    margin:             1em;
}

tt {
    font-family:        "Droid Sans Mono", monospace;
}

.title {
    font-family:        "Source Sans Pro", sans-serif;    
    font-size:          200%;
    font-weight:        bold;
    color:              #56A0D3;
}

.subtitle {
    font-style:         italic;
    font-size:          80%;
    margin-left:        2em;
    float:              right;
}

#blog-posts-list-item .blog-post-date {
    font-size:          80%;
    font-style:         italic;
    margin-left:        2em;
}

#blog-posts-list-item .blog-post-title {
    font-family:        "Source Sans Pro", sans-serif;    
    margin-top:         .5em;
    font-weight:        bold;
}

#rss-icon {
    float:              right
}

.page-date {
    font-style:         italic;
    font-size:          80%;
    margin-left:        2em;
}

.footer {
    margin-top:         2em;
}

.footer p {
    margin:             0.5em 0;
}

ul.nodot {
    list-style-type:    none;
}

.highlight {
    margin:             1em;
    padding:            0 0.5em;
    background-color:   #FFD;
    border-radius:      10px;
    border:             thin solid black;
    overflow:           auto;
}

a, a:visited, a:link, a:active {
    text-decoration:    none;
    color:              #56A0D3;
}

a:hover {
    text-decoration:    underline;
    color:              #56A0D3;
}

p {
    margin-bottom:      0;
}

h1, h2, h3, h4, h5 {
    margin-bottom:      0;
    font-family:        "Source Sans Pro", sans-serif;    
}